.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
  border-bottom: 2px solid #21bf96 !important;
}

.ant-menu-horizontal>.ant-menu-item-selected a,
.ant-menu-horizontal>.ant-menu-item a:hover {
  color: #21bf96 !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

body {
  SCROLLBAR-FACE-COLOR: #666666;
  SCROLLBAR-HIGHLIGHT-COLOR: #CCCCCC;
  SCROLLBAR-SHADOW-COLOR: #999999;
  SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
  SCROLLBAR-ARROW-COLOR: #CCCCCC;
  SCROLLBAR-TRACK-COLOR: #ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #999999;
  background-color: #000000;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  color: #CCCCCC;
  font-weight: normal;
  margin-top: 12px;
  margin-right: 0px;
  margin-bottom: 12px;
  margin-left: 0px
}

.contentparagraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #8C8684;
  margin-top: 12px;
  margin-right: 0px;
  margin-bottom: 12px;
  margin-left: 0px;
  text-align: justify;
  line-height: 20px
}

b {
  color: #84d40c
}

a:link {
  color: #0ffc99
}

a:visited {
  color: #04f79a
}

a:hover {
  color: #ff0909;
  text-decoration: none;
}

a:active {
  color: #02ff89
}

.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  color: #CCCCCC
}

.mainmenu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #00FFCC;
  background-color: #000000;
  border: double #CCCCCC;
}

.sidebar {
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 12px;
  color: #666666
}

.lines {
  border-bottom-width: medium;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: double;
  border-bottom-color: #663333;
  font-size: 18px;
  color: #333333;
}

.titrehead {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: normal;
  color: #333333;
}

section {
  width: px;
  height: px;
  text-align: left;
}

section h2 {
  color: #666;
  font-size: 4em;
  margin-bottom: 20px;
}

section p {
  color: #666;
  font-size: 1.2em;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30ff00);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}
